<!doctype html>
<html ng-app="raymondSimpleApp">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/4.0.8/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/sweetalert2/4.0.8/sweetalert2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script>
        angular.module('raymondSimpleApp', [])
                .controller('raymondSimpleController', function() {

                    var raymondSimpleController    = this;

                    // the array that will be foreach in the HTML-Angular
                    raymondSimpleController.myArray  = [
                        { text:'learn angular', done:true },
                        { text:'build an angular app', done:false },
                        { text:'enjoy angular', done:false }
                    ];

                    raymondSimpleController.simpleAlertFunction = function() {
                        swal('Any fool can use a computer');
                    }

                });
    </script>
    <style>
        .done-true {
            text-decoration: line-through;
            color: grey;
        }
    </style>
</head>
<body>
    <h2>Todo</h2>

    <!-- use todoList as alias for TodoListController -->
    <div ng-controller="raymondSimpleController as raymondSimpleController">

        <!-- run remaining() method inside TodoListController , and get the length from todoList.todos -->
        <span>My total array: {{ raymondSimpleController.myArray.length }}</span>

        <ul class="unstyled">
            <!-- foreach TodoListController.todos as todoObject -->
            <li ng-repeat="myArrayObject in raymondSimpleController.myArray">
                <label class="checkbox">
                    <input type="checkbox" ng-model="myArrayObject.done">
                    <span class="done-{{ myArrayObject.done }}">{{ myArrayObject.text }}</span>
                </label>
            </li>
        </ul>

        <button ng-click="raymondSimpleController.simpleAlertFunction()">Click me</button>


    </div>

</body>
</html>