<!doctype html>
<html ng-app="raymondSimpleApp">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/4.0.8/sweetalert2.min.css">
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/sweetalert2/4.0.8/sweetalert2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script>
        $(function(){
            console.log(angular.version);
        });

        // create the module that can have services, components / directives
        var raymondSimpleApp = angular.module('raymondSimpleApp', []);

        // create the service - service & factory - service
        raymondSimpleApp
                .service('testService', function() {
                    // these two will be created automatically by .service(), and this will be returned automatically
                    // var this = {};
                    // return this

                    this.name = "raymond";
                    this.age = 26;
                    this.customMethodInService = function(){
                        swal('Inside testService - service');
                    }
                })
                .factory('testFactory', function(){
                    var obj = {};
                    obj.name = "raymond";
                    obj.age = 26;
                    obj.customMethodInFactory = function(){
                        swal('Inside testFactory - factory');
                    };
                    return obj;
                })
                .factory('testFactoryObject', function(){
                    return function(name, age){
                        return {
                            name: name,
                            age: age,
                            customMethod: function(){
                                swal('Inside testFactoryObject - factory');
                            }
                        }
                    }
                });

        // create directive / component
        raymondSimpleApp
                .directive('exampletabs', function() {
                    return {
                        restrict: 'E',
                        transclude: false,
                        scope: {},
                        controller: function($scope, $element) {
                            $scope.name = 'exampleTabs';
                            $scope.exampleFunction = function(){
                                swal('Any fool can use a computer 2');
                            }
                        },
                        template:
                        '<div class="tabbable">' +
                        '<h1>{{name}}</h1>' +
                        '<button ng-click="exampleFunction()">Click me</button>' +
                        '</div>',
                        replace: false
                    };
                })
                .component('phoneList', {
                    restrict: 'E',
                    transclude: false,
                    scope: {
                    },
                    replace: false,
                    controller: function($scope){
                        $scope.phones = [{
                            name: 'Nexus S',
                            snippet: 'Fast just got faster with Nexus S.'
                        }, {
                            name: 'Motorola XOOM™ with Wi-Fi',
                            snippet: 'The Next, Next Generation tablet.'
                        }];
                    },
                    template:
                    '<ul>' +
                    '<li ng-repeat="phone in phones">' +
                    '<span>{{phone.name}}</span>' +
                    '<p>{{phone.snippet}}</p>' +
                    '</li>' +
                    '</ul>'
                });

        // create the controller
        raymondSimpleApp
                .controller('raymondSimpleController', ['$rootElement', '$interval', '$timeout', '$window', 'testService', 'testFactory', 'testFactoryObject', '$rootScope', function($rootElement, $interval, $timeout, $window, testService, testFactory, testFactoryObject, $rootScope) {

                    // get the root element and turn it into jQuery object
                    console.log( $($rootElement).get(0) );

                    // use window in angular
                    // $window.alert('a');

                    // $timeout
                    /*
                    $timeout(function(){
                        swal('from $timeout');
                    }, 3000);
                    */

                    // interval
                    /*
                    $interval(function(){
                        swal('from $interval');
                    }, 1000);
                    */

                    // use the service
                    // console.log( testService );
                    // testService.customMethodInService();

                    // use the factory
                    // console.log(testFactory);
                    // testFactory.customMethodInFactory();

                    // use the factory 2
                    // var testFactoryObject1 = new testFactoryObject();
                    // console.log(testFactoryObject1);
                    // testFactoryObject1.customMethod();

                    // use the root scope, which will be available in the entire application.
                    $rootScope.rootName = 'the Big app';


                    var raymondSimpleController    = this;

                    // the array that will be foreach in the HTML-Angular
                    raymondSimpleController.myArray  = [
                        { text:'learn angular', done:true, the_image:'http://getuikit.com/docs/images/placeholder_480x260.svg' },
                        { text:'build an angular app', done:false, the_image:'http://getuikit.com/docs/images/placeholder_480x260.svg' },
                        { text:'enjoy angular', done:false, the_image:'http://getuikit.com/docs/images/placeholder_480x260.svg' }
                    ];

                    raymondSimpleController.simpleAlertFunction = function() {
                        swal('Any fool can use a computer');
                    };

                }]);
    </script>
    <style>
        .done-true {
            text-decoration: line-through;
            color: grey;
        }
    </style>
</head>
<body>
    <h2>Todo</h2>

    <exampletabs></exampletabs>

    <phone-list></phone-list>

    <!-- use todoList as alias for TodoListController -->
    <div ng-controller="raymondSimpleController as raymondSimpleController">

        <!-- run remaining() method inside TodoListController , and get the length from todoList.todos -->
        <span>My total array: {{ raymondSimpleController.myArray.length }}</span>

        <ul class="unstyled">

            <!-- foreach TodoListController.todos as todoObject -->
            <li ng-repeat="myArrayObject in raymondSimpleController.myArray | orderBy:'text'">
                <img ng-style="{width:'50px'}" ng-src="{{ myArrayObject.the_image }}" alt="">
                <label class="checkbox">
                    <input type="checkbox" ng-model="myArrayObject.done">
                    <span class="done-{{ myArrayObject.done }}">{{ myArrayObject.text | uppercase }}</span>
                </label>
            </li>

        </ul>

        <button ng-click="raymondSimpleController.simpleAlertFunction()">Click me</button>


    </div>

</body>
</html>